.wd-fg-color-lightgray {
    color: rgb(110,118,125);
}
.wd-small-font {
    font-size: 14px;
}
.wd-large-font {
    font-size: 18px;
}
.wd-profile-img {
    height: 110px;
    width: 110px;
    position: absolute;
    left: 30px;
    bottom: 160px;
}