.wd-bg-color-black {
    background-color: black;
}
.wd-border {
    border-color: rgb(47,51,54);
    border-style: solid;
    border-width: 1px;
}
.wd-border-topless {
    border-color: rgb(47,51,54);
    border-style: solid;
    border-top: none;
    border-width: 1px;
}
.wd-fg-color-white {
    color: white;
}
.wd-margin-left {
    margin-left: 16px;
}
.wd-fg-color-lightgray {
    color: rgb(110,118,125);
}
.wd-small-font {
    font-size: 14px;
}
.wd-light-blue {
    color:rgb(29,161,242);
}
.wd-twitter-gray {
    background-color:rgb(235, 240, 241);
}
.wd-article-img {
    /* width: 100px;
    height: 100px; */
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.wd-avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.wd-post-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.wd-post-text {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}